// ==========================================================

// Project Name

// ==========================================================

/* Smallest ========================================= */

html {
  font-size: 16px;
  width: 100%;
  -webkit-text-size-adjust: none;
}

body {
  @include font-size(1);
  font-family: $basefont;
  font-weight: 100;
  width: 100%;

  * {
    @include transition(.2s all);
  }
}

a { 
  text-decoration: none; 
  color: $linkcolor;
  @include transition(.2s all);
  
  &:hover {
    color: $linkcolorhover;
  }
}

.content-width {
  width: 960px;
  margin: 0 auto;
}