// ==========================================================

// Project Name

// ==========================================================

/* Variables =================================================== */

// greyscale

$black 			: rgb(0,0,0);
$darkgrey 		: lighten($black, 25%);
$grey 			: lighten($black, 50%);
$lightgrey 		: lighten($black, 75%);
$lightergrey 	: lighten($black, 90%);
$white 			: rgb(255,255,255);

$bodycolor : $white;
$textcolor : black;

$primary: rgb(45,53,62);
$secondary: rgb(45,53,62);
$tertiary: rgb(45,53,62);
$quaternary: rgb(45,53,62);

$bordercolor: $lightgrey;

$basefont : 'Open Sans', Arial, sans-serif;
$basefontsize : 16;
$baselineheight : 1.5em;
$baseheadingfont : inherit;
$baseheadingfontweight : bold;
$baseheadingfontcolor : inherit;

$altfont : Georgia, Times, "Times New Roman", serif;
$altlineheight : 1.35em;

$codefont : Monaco, Courier New, monospace;

$inputbkg: $white;
$inputborder: $bordercolor;
$inputfontcolor: $textcolor;

$fontawesome: 'FontAwesome';


// Links

$linkcolor 		    : $primary;
$linkcolorhover 	: darken($linkcolor, 10);
$linkcolorvisited   : darken($linkcolorhover, 10);
$linkcolorfocus 	: darken($linkcolorvisited, 10);
